# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DirectX12/v16/Browse.VC.db
.vs/DirectX12/v16/Browse.VC.db-shm
.vs/DirectX12/v16/Browse.VC.db-wal
.vs/DirectX12/v16/Browse.VC.opendb
.vs/DirectX12/v16/Solution.VC.db
.vs/DirectX12/v16/Solution.VC.db-shm
.vs/DirectX12/v16/Solution.VC.db-wal
.vs/DirectX12/v17/Browse.VC.db
.vs/DirectX12/v17/Browse.VC.db-shm
.vs/DirectX12/v17/Browse.VC.db-wal
.vs/DirectX12/v17/Browse.VC.opendb
.vs/DirectX12/v17/Solution.VC.db
.vs/DirectX12/v17/Solution.VC.db-shm
.vs/DirectX12/v17/Solution.VC.db-wal
x64/Debug/BasicPS.cso
x64/Debug/BasicVS.cso
x64/Debug/DirectX12.pdb
x64/Debug/Object3dPS.cso
x64/Debug/Object3dVS.cso
x64/Debug/SpritePS.cso
x64/Debug/SpriteVS.cso
x64/Release/BasicPS.cso
x64/Release/BasicVS.cso
x64/Release/DirectX12.pdb
x64/Release/Object3dPS.cso
x64/Release/Object3dVS.cso
x64/Release/SpritePS.cso
x64/Release/SpriteVS.cso
.vs/DirectX12/v16/ipch/AutoPCH/4e97c6949fb8022a/FBXMODEL.ipch
.vs/DirectX12/v16/ipch/AutoPCH/d9752fdfdb051a99/GAMESCENE.ipch
.vs/DirectX12/v16/ipch/AutoPCH/eee5f2a5457fa142/MODEL.ipch
DirectX12/FbxModel.cpp
DirectX12/FbxModel.h
DirectX12/Resources/cube/Crate.jpg
DirectX12/Resources/cube/cube.fbx
DirectX12/x64/Debug/DirectX12.exe.recipe
DirectX12/x64/Debug/vc142.idb
DirectX12/x64/Debug/DirectX12.tlog/CL.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/CL.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/DirectX12.lastbuildstate
DirectX12/x64/Debug/DirectX12.tlog/fxc.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/fxc.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/fxc.write.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.command.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.read.1.tlog
DirectX12/x64/Debug/DirectX12.tlog/link.write.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.lib.recipe
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex_Desktop_2019_Win10.vcxproj.FileListAbsolute.txt
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.command.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.read.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/CL.write.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/DirectXTex.lastbuildstate
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib.command.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib-link.read.1.tlog
DirectXTex/Bin/Desktop_2019_Win10/x64/Debug/DirectXTex.tlog/Lib-link.write.1.tlog
